<footer>

<section class="container-fluid px-0 py-5">
<div class="container footer-content">

<div class="row mx-0">

<div class="col-12 col-md-7 col-lg-6 col-xl-6">

<h2>Join Neotoma!</h2>
		
<div class="footer-join-callout">

<a href="https://www.neotomadb.org/about/join-the-neotoma-community">
<h3>Become a Member</h3>
<p class="d-none d-sm-block">Play a role in database governance. Vote on initiatives and leadership, or serve on subcommittees in topics of interest to you!</p>
</a>
<a href="https://www.neotomadb.org/data/contribute-data">
<h3>Become a Data Steward</h3>
<p class="d-none d-sm-block">Data Stewards are analogous to editors of peer-reviewed journals and have the ability to upload and correct data in Neotoma.</p>
</a>
	
</div>
</div>

<div class="col-12 col-md-5 col-lg-6 col-xl-6">

<div class="container px-0 mt-3">
<div class="row mx-0">
		
<div class="col-12 col-lg-6 px-0 px-lg-4">

<ul class="footer-section-nav">
<li class="divider">NeotomaDB</li>	
<li><a href="https://www.neotomadb.org/about">Neotoma</a></li>
<li><a href="https://www.neotomadb.org/data">Data</a></li>
<li><a href="https://www.neotomadb.org/resources">Resources</a></li>
<li><a href="https://www.neotomadb.org/apps">Apps</a></li>
<li><a href="https://www.neotomadb.org/outreach">Outreach</a></li>
<li><a href="https://www.neotomadb.org/donate">Donate</a></li>
<li><a href="news-events/">News &amp; Events</a></li>
<li><a href="people/">People</a></li>
</ul>
</div>

<div class="col-12 col-lg-6 d-none d-md-block px-0 px-lg-4">

<ul class="footer-section-nav">
<li class="divider">Neotoma Apps</li>	
   
				 	
<li><a href="https://www.neotomadb.org/apps/explorer">Explorer</a></li>
<li><a href="https://www.neotomadb.org/apps/api">API</a></li>
<li><a href="https://www.neotomadb.org/apps/tilia">Tilia</a></li>
<li><a href="https://www.neotomadb.org/apps/neotoma-r">R package</a></li>
<li><a href="https://www.neotomadb.org/apps/third-party-apps">Third-Party Apps</a></li>
</ul>

</div>
</div>

</div>
</div>
</div>


<div class="row mt-0 mt-md-4 mx-0">
<div class="col-12 text-center">
	
<ul class="list-inline list-social-icons">


	
<li><a href="https://join.slack.com/t/neotomadb/shared_invite/zt-cvsv53ep-wjGeCTkq7IhP6eUNA9NxYQ">
<img loading="lazy" src="/images/neo_slack.svg" alt="Slack Logo">NeotomaDB Slack</a></li>
	
	
<li><a href="https://groups.google.com/d/forum/neotoma-updates">
<img loading="lazy" src="/images/neo_google-groups-logo.png" alt="Google Groups Logo">Neotoma Updates Listserve</a></li>
	
	
<li><a href="https://twitter.com/neotomadb">
<img loading="lazy" src="/images/icons-logos/twitter-logo.svg" alt="Twitter Logo">Twitter @neotomadb</a></li>
	
		
			
</ul>

</div>
</div>

</div>
</section>


<div class="container-fluid copyright pt-3">
<div class="container">
<div class="row mx-0">
<div class="col-12 d-block d-lg-flex justify-content-lg-between text-center align-items-center">
<p><a href="/about/funders-partners">We work with throughput and other organizations</a> <span class="divider d-none d-sm-inline-flex">●</span> <a class="d-block d-sm-inline" href="https://www.nsf.gov/">Funded by <img class="footer-nsf" src="/images/nsf-logo.png" alt="NSF Logo"></a></p>
<p>Copyright © 2025 / All Rights Reserved</p>
</div>	
</div>
</div>
</div>

</footer>
