<header class="container-fluid d-flex flex-column justify-content-center">

<div class="container-fluid px-0">
<div class="row d-flex align-items-center mx-0">
<div class="col-9 col-sm-6 col-lg-3 px-0">
<a href="/" class="logo-neotoma my-0"><img src="/assets/images/packrat-logo.svg" alt="Logo sketch of a packrat">neotomadb.org</a>
</div>
<div class="col-3 col-sm-6 col-lg-9 px-0 d-flex justify-content-end">	
        		
<nav class="navbar navbar-expand-lg">		
<div class="overflow-hinting">
<ul class="navbar-nav menu-hinting d-none d-lg-flex justify-content-end">

<li><a class="nav-link" href="/">Home</a></li>

<!-- About -->
   
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarAbout" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Neotoma  <img src="/assets/images/carat.svg" alt=""></a>

<div class="dropdown-menu" aria-labelledby="navbarAbout">
<a class="dropdown-item" href="https://www.neotomadb.org/about">Neotoma Overview</a>
				 	
<a class="dropdown-item" href="https://www.neotomadb.org/about/governance">Governance</a>
<a class="dropdown-item" href="https://www.neotomadb.org/about/funders-partners">Funders &amp; Partners</a>
<a class="dropdown-item" href="https://www.neotomadb.org/about/join-the-neotoma-community">Join the Neotoma Community</a>
</div>
</li>

<!-- Data -->
  
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarData" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Data  <img src="/assets/images/carat.svg" alt=""></a>

<div class="dropdown-menu" aria-labelledby="navbarData">
<a class="dropdown-item" href="https://www.neotomadb.org/data">Data Overview</a>
				 	
<a class="dropdown-item" href="https://www.neotomadb.org/data/constituent-databases">Constituent Databases</a>
<a class="dropdown-item" href="https://www.neotomadb.org/data/dataset-search">Find Data</a>
<a class="dropdown-item" href="https://www.neotomadb.org/data/contribute-data">Contribute Data</a>
<a class="dropdown-item" href="https://www.neotomadb.org/data/db-snapshots">DB Snapshots</a>
<a class="dropdown-item" href="https://www.neotomadb.org/data/data-use-and-embargo-policy">Data Use and Embargo Policy</a>
</div>
</li>

<!-- Apps -->
         
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarApps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Apps  <img src="/assets/images/carat.svg" alt=""></a>

<div class="dropdown-menu" aria-labelledby="navbarApps"> 
<a class="dropdown-item" href="https://www.neotomadb.org/apps">Apps Overview</a>
				 	
<a class="dropdown-item dropdown-item-external" href="https://www.neotomadb.org/apps/explorer">Explorer</a>
<a class="dropdown-item dropdown-item-external" href="https://www.neotomadb.org/apps/api">API</a>
<a class="dropdown-item" href="https://www.neotomadb.org/apps/tilia">Tilia</a>
<a class="dropdown-item dropdown-item-external" href="https://www.neotomadb.org/apps/neotoma-r">R package</a>
<a class="dropdown-item" href="https://www.neotomadb.org/apps/third-party-apps">Third-Party Apps</a>
</div>
</li>

<!-- Education -->
  
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarEducation" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Outreach  <img src="/assets/images/carat.svg" alt=""></a>

<div class="dropdown-menu" aria-labelledby="navbarEducation">
<a class="dropdown-item" href="https://www.neotomadb.org/outreach">Outreach Overview</a>
				 	
<a class="dropdown-item" href="https://www.neotomadb.org/outreach/lapd-ciclo-de-charlas-2025">Ongoing and Past Webinar Series</a>
<a class="dropdown-item" href="https://www.neotomadb.org/outreach/outreach-and-community-engagement-team">Outreach and Community Engagement Team</a>
<a class="dropdown-item" href="https://www.neotomadb.org/outreach/outreach-and-community-engagement-resources-inventory">Outreach and Community Engagement Resources Inventory</a>
<a class="dropdown-item" href="https://www.neotomadb.org/outreach/core-tutorials">Recommended Data Tutorials</a>
</div>
</li>

<!-- News -->
<li class="d-none d-xl-block"><a class="nav-link" href="/news-events/">News &amp; Events</a></li>

<!-- Resources -->
   
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarResources" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Resources  <img src="/assets/images/carat.svg" alt=""></a>

<div class="dropdown-menu" aria-labelledby="navbarResources">
<a class="dropdown-item" href="https://www.neotomadb.org/resources">Resources Overview</a>
				 	
<a class="dropdown-item" href="https://www.neotomadb.org/resources/proposal-preparation">Proposal Preparation</a>
<a class="dropdown-item dropdown-item-external" href="https://www.neotomadb.org/resources/neotomadb-publications">NeotomaDB Publications</a>
</div>
</li>

<!-- People -->
<li><a class="nav-link" href="/people">People</a></li>

</ul>

</div>
	
<button type="button" class="btn-offcanvas-slide mobile-menu-toggle d-flex align-items-center" data-bs-toggle="offcanvas" aria-controls="pagesModal" data-bs-target="#pagesModal" aria-expanded="false" aria-label="Toggle Button to Open Additional Navigation"><span class="d-none d-lg-flex d-xl-none">More</span><span class="d-lg-none">Menu</span> <img src="/assets/images/mobile-menu.svg" class="mobile-menu-icon" alt="Menu Icon"></button>

</nav>

</div>
</div>
</div>
		
</header>
