<header class="container-fluid d-flex flex-column justify-content-center">

<div class="container-fluid px-0">
<div class="row d-flex align-items-center mx-0">
<div class="col-9 col-sm-6 col-lg-3 px-0">
<a href="https://www.neotomadb.org/" class="logo-neotoma my-0"><img src="/images/packrat-logo.svg" alt="Logo sketch of a packrat">neotomadb.org</a>
</div>
<div class="col-3 col-sm-6 col-lg-9 px-0 d-flex justify-content-end">	
        		
<nav class="navbar navbar-expand-lg">		
<div class="overflow-hinting">
<ul class="navbar-nav menu-hinting d-none d-lg-flex justify-content-end">

<li><a class="nav-link" href="https://www.neotomadb.org/">Home</a></li>

<!-- About -->
   
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="https://www.neotomadb.org/about" id="navbarAbout" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Neotoma  <img src="/images/carat.svg" alt=""></a>
</li>

<!-- Data -->
  
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="https://www.neotomadb.org/data" id="navbarData" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Data  <img src="/images/carat.svg" alt=""></a>

</li>

<!-- Apps -->
         
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="https://www.neotomadb.org/apps" id="navbarApps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Apps  <img src="/images/carat.svg" alt=""></a>
</li>

<!-- Education -->
  
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="https://www.neotomadb.org/outreach" id="navbarEducation" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Outreach  <img src="/images/carat.svg" alt=""></a>
</li>

<!-- News -->
<li class="d-none d-xl-block"><a class="nav-link" href="https://www.neotomadb.org/news-events/">News &amp; Events</a></li>

<!-- Resources -->
   
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="https://www.neotomadb.org/resources" id="navbarResources" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Resources  <img src="/images/carat.svg" alt=""></a>


</li>

<!-- People -->
<li><a class="nav-link" href="https://www.neotomadb.org/people">People</a></li>

</ul>

</div>
	
<button type="button" class="btn-offcanvas-slide mobile-menu-toggle d-flex align-items-center" data-bs-toggle="offcanvas" aria-controls="pagesModal" data-bs-target="#pagesModal" aria-expanded="false" aria-label="Toggle Button to Open Additional Navigation"><span class="d-none d-lg-flex d-xl-none">More</span><span class="d-lg-none">Menu</span> <img src="/images/mobile-menu.svg" class="mobile-menu-icon" alt="Menu Icon"></button>

</nav>

</div>
</div>
</div>
		
</header>
