
<style>
h1 {
  margin: 15px;
  text-align: center;
  
}

body {
  margin-left: 25%;
  margin-right: 10%;
}
</style>

<head>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-32x32.png">
</head>

<link rel="stylesheet" href="{{ '/assets/css/main.scss' | relative_url }}">

{% include header.html %}

{{ content }}

{% include footer.html %}
